<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2020/  8/ 13.  Created by Hashim Tahir
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hashim.androidtestplayground">

    <application>
        <activity
            android:name=".HiltTestActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>